.announcement {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.announcement h1 {
  text-align: center;
  font-weight: 600;
  margin-top: 80px;
  letter-spacing: 0.5px;
}

.announcement .headings {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.announcement .headings .events {
  width: 625px;
}

.announcement .headings .announcements {
  width: 500px;
}

.announcement .content-container {
  width: 80%;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

/* Event */
.announcement .event-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  height: 100%;
  margin-right: 5px;
}

.announcement .event-frame {
  width: 100%;
  height: 100%;
  background-color: gainsboro;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.announcement .event-frame .events {
  display: flex;
  position: absolute;
}

.announcement .event-frame .event {
  height: 50vh;
  background-color: aquamarine;
}

.announcement .event-frame .left-btn,
.announcement .event-frame .right-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  z-index: 99;
  background-color: rgba(48, 48, 48, 0.2);
  border: none;
  color: #ffff;
  font-size: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
}

.announcement .event-frame .left-btn:active,
.announcement .event-frame .right-btn:active {
  background-color: rgba(48, 48, 48, 0.05);
}

.announcement .event-frame .left-btn {
  left: 20px;
}

.announcement .event-frame .right-btn {
  right: 20px;
}

/* ===================================== */

.announcement .announces-display {
  width: 500px;
  height: 50vh;
}

.announcement .announces-group {
  width: 100%;
  height: 100%;
  overflow: scroll;
  position: relative;
  border-left: #000 1px solid;
}

.announcement .announces-group .announces-back {
  background: linear-gradient(90deg, #000, #000, #00000000);
  width: 100%;
  height: max-content;
}

.announcement .announce-card {
  width: 100%;
}

.announcement .announce-card .card {
  width: 100% !important;
  margin-bottom: 0.5px;
  border-radius: 0;
  padding: 10px;
}

.announcement .announce-card div {
  border: none;
  margin: 0;
  padding: 0;
}
