.home-page .welcome {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f0f0f;
}

.home-page .welcome-content {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page .welcome .houses-logo {
  width: max-content;
  height: 300px;
  margin-right: 100px;
  position: relative;
}

.home-page .welcome .houses-logo img {
  max-height: 100%;
  opacity: 0.9;
}

.home-page .welcome .texts {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-shadow: 0 0 5px #fff;
}

.home-page .welcome .texts h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px var(--highlight-color);
}

.home-page .welcome .texts h1 span {
  font-size: 4rem;
  text-shadow: 4px 4px 10px var(--main-color);
}

.home-page .welcome .texts .welcome-btn .btn {
  margin-right: 10px;
}
